@use "../generalStyles/colors" as *;

@mixin H1Font {
	font-family: poppins;
	font-size: 3.052rem;
}

@mixin H2Font {
	font-family: poppins;
	font-size: 2.441rem !important;
}

@mixin H3Font {
	font-family: poppins;
	font-size: 1.953rem;
}

@mixin H4Font {
	font-family: poppins;
	font-size: 1.563rem;
}

@mixin H5Font {
	font-family: poppins;
	font-size: 1.25em;
	line-height: 1.75rem;
}

@mixin H6Font {
	font-family: poppins;
	font-size: 1rem;
	line-height: 1.75rem;
}

@mixin pFont {
	font-family: "Open Sans";
	font-size: 0.9rem;
	// color: $bodyTextColor;
	line-height: 1.75rem; //multiples of 1.5 the font-size
	letter-spacing: 0.02rem; //multiples of 1.5 the font-size
}

@mixin mutedFont {
	font-family: "Open Sans";
	font-size: 0.812em;
	// color: $mutedTextColor;
}

@mixin btnText {
	font: {
		family: poppins;
		weight: 700;
		size: 1.2rem;
	}
}

h1 {
	@include H1Font;
}

h2 {
	@include H2Font;
}

h3 {
	@include H3Font;
}

h4 {
	@include H4Font;
}

h5 {
	@include H5Font;
}

h6 {
	@include H6Font;
}

p {
	@include pFont;
}

.whiteText {
	color: $whiteColor;
}

.greenText {
	color: $secColor !important;
}

.mutedTexts {
	@include mutedFont;
}

.mutedText {
	@include mutedFont;
	color: $secColor;
	line-height: normal;
	opacity: 0.85;
}

.removeLineHeight {
	line-height: 0;
}
