// 375, 414, 390, 393, 360, 412, 280, 412: 280 - 390, 412 - 414
// 820, 768, 912, 540: 760 - 920
// 1024, 1280: 1000 - upwards

$desktop: 1200px; //col-xl
$laptop: 1024px; //col-lg
$tablet: 768px; //md
// $phone: 480px; // sm
$phone: 540px; // sm
